h1, h2, h3,
h4, p {
  filter: invert(100%) !important;
}
section {
   background-color: #0a0a0a !important;
}
footer {
    background-color: black !important;
}
html {
    background-color: black !important;
    filter:invert(100%)
}
img {
    background-color: black !important;
}
body {
    filter:invert(100%) !important;
}